.card .front{
    transform: rotateY(90deg);
    position: absolute;
    transition: all ease-in 0.2s;
}
.flipped .front{
    transform: rotateY(0deg);
    transition: all ease-in 0.2s;
}

.card .back{
    transition-delay: all ease-in 0.2s;
    transition-delay: 0.2s;
}
.flipped .back{
    transform: rotateY(90deg);
    transition-delay:0s;
}