.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button{
  color:white;
  background-color: transparent;
  border-style: solid;
  border-color: white;
  height: 35px;
  width: 120px;
  border-radius: 8px;
  font-weight: 600;
}

.front{
   height: 200px;
   width: 200px;
}

.back{
  height: 200px;
  width: 200px;
}

.card-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5px;
  width: 50%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
